html {
  height: 100%;
  width: 100%;
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
  position: sticky;
}

.mainWrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.gameTableWrapper {
  background: linear-gradient(#eaeaea, #6c6a6a);
  height: 100%;
  max-height: 476px;
  width: 600px;
  border-radius: 0% 0% 0% 0% / 0% 0% 0% 0%;
  color: black;
  box-shadow: 20px 20px 20px rgb(101, 97, 97);
  transition: all 0.4s ease;
}

.logo {
  max-height: max-content;
  letter-spacing: 4px;
  margin-top: 40px;
  font-size: 35px;
  font-family: "Times New Roman", Times, serif;
}

.notifySection {
  margin-top: 40px;
  width: 400px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.notify {
  font-size: 25px;
  font-family: Geneva, Verdana, sans-serif;
}

.coinPic {
  height: 130px;
}

.winnerSection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 250px;
}

.UX {
  position: sticky;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 230px;
  flex-direction: column;
}

.buttonUserChoicesSection {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

.headsButton {
  height: 35px;
  width: 100px;
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, 0.2) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.15) 0 1px 2px, rgba(44, 187, 99, 0.15) 0 2px 4px,
    rgba(44, 187, 99, 0.15) 0 4px 8px, rgba(44, 187, 99, 0.15) 0 8px 16px,
    rgba(44, 187, 99, 0.15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: Geneva, Verdana, sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.headsButton:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgb(142, 227, 142) 0 -3px 0 inset;
  transform: translateY(-2px);
}

.headsButton:active {
  transform: translateY(2px);
}

.tailsButton {
  margin-right: 40px;
  height: 35px;
  width: 100px;
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, 0.2) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.15) 0 1px 2px, rgba(44, 187, 99, 0.15) 0 2px 4px,
    rgba(44, 187, 99, 0.15) 0 4px 8px, rgba(44, 187, 99, 0.15) 0 8px 16px,
    rgba(44, 187, 99, 0.15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: Geneva, Verdana, sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.tailsButton:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgb(142, 227, 142) 0 -3px 0 inset;
  transform: translateY(-2px);
}

.tailsButton:active {
  transform: translateY(2px);
}

.uxSection {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20%;
}

.textBet {
  margin-right: 15px;
  font-size: 20px;
  font-family: Geneva, Verdana, sans-serif;
}

.finalChoice {
  font-size: 20px;
  font-family: Geneva, Verdana, sans-serif;
  height: 35px;
  width: 80px;
  margin-right: 30px;
  border: 2px solid rgb(142, 227, 142);
  border-radius: 10px;
  text-align: center;
}

.userBet {
  font-size: 20px;
  font-family: Geneva, Verdana, sans-serif;
  height: 30px;
  width: 100px;
  margin-right: 30px;
  border: 2px solid rgb(142, 227, 142);
  border-radius: 10px;
  text-align: center;
}

.flipButton {
  height: 35px;
  width: 110px;
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, 0.2) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.15) 0 1px 2px, rgba(44, 187, 99, 0.15) 0 2px 4px,
    rgba(44, 187, 99, 0.15) 0 4px 8px, rgba(44, 187, 99, 0.15) 0 8px 16px,
    rgba(44, 187, 99, 0.15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: Geneva, Verdana, sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.flipIcon {
  height: 1.8vh;
}

.flipButton:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgb(142, 227, 142) 0 -3px 0 inset;
  transform: translateY(-2px);
}

.flipButton:active {
  transform: translateY(2px);
}
