html {
  height: 100%;
  width: 100%;
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
  position: sticky;
}

.mainWrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.gameTableWrapper {
  border-radius: 20px;
  border: inset;
  background-color: bisque;
  height: 60vh;
  width: 50%;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.logo {
  margin-top: 40px;
  font-size: 30px;
  font-family: Geneva, Verdana, sans-serif;
}

.notifySection {
  margin-top: 40px;
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.notify {
  font-size: 25px;
  font-family: Geneva, Verdana, sans-serif;
}

.coinPic {
  height: 13vh;
}

.winnerSection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 30vh;
}

.userBalanceSection {
  border-radius: 20px;
  border: outset;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  background-color: bisque;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 25%;
  height: 40vh;
}

.UX {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30vh;
  flex-direction: column;
}

.buttonUserChoicesSection {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

.headsButton {
  height: 5vh;
  width: 70%;
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, 0.2) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.15) 0 1px 2px, rgba(44, 187, 99, 0.15) 0 2px 4px,
    rgba(44, 187, 99, 0.15) 0 4px 8px, rgba(44, 187, 99, 0.15) 0 8px 16px,
    rgba(44, 187, 99, 0.15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: Geneva, Verdana, sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.headsButton:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgb(142, 227, 142) 0 -3px 0 inset;
  transform: translateY(-2px);
}

.headsButton:active {
  transform: translateY(2px);
}

.tailsButton {
  margin-right: 40px;
  height: 5vh;
  width: 70%;
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, 0.2) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.15) 0 1px 2px, rgba(44, 187, 99, 0.15) 0 2px 4px,
    rgba(44, 187, 99, 0.15) 0 4px 8px, rgba(44, 187, 99, 0.15) 0 8px 16px,
    rgba(44, 187, 99, 0.15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: Geneva, Verdana, sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.tailsButton:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgb(142, 227, 142) 0 -3px 0 inset;
  transform: translateY(-2px);
}

.tailsButton:active {
  transform: translateY(2px);
}

.uxSection {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.textBet {
  margin-right: 15px;
  font-size: 20px;
  font-family: Geneva, Verdana, sans-serif;
}

.finalChoice {
  font-size: 20px;
  font-family: Geneva, Verdana, sans-serif;
  height: 4.7vh;
  width: 10%;
  margin-right: 30px;
  border: 2px solid rgb(142, 227, 142);
  border-radius: 10px;
  text-align: center;
}

.userBet {
  font-size: 20px;
  font-family: Geneva, Verdana, sans-serif;
  height: 4vh;
  width: 10%;
  margin-right: 30px;
  border: 2px solid rgb(142, 227, 142);
  border-radius: 10px;
  text-align: center;
}

.flipButton {
  height: 5vh;
  width: 15%;
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, 0.2) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.15) 0 1px 2px, rgba(44, 187, 99, 0.15) 0 2px 4px,
    rgba(44, 187, 99, 0.15) 0 4px 8px, rgba(44, 187, 99, 0.15) 0 8px 16px,
    rgba(44, 187, 99, 0.15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: Geneva, Verdana, sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.flipIcon {
  height: 1.8vh;
}

.flipButton:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgb(142, 227, 142) 0 -3px 0 inset;
  transform: translateY(-2px);
}

.flipButton:active {
  transform: translateY(2px);
}

.resetButton {
  margin-left: 10px;
  height: 4vh;
  width: 25%;
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, 0.2) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.15) 0 1px 2px, rgba(44, 187, 99, 0.15) 0 2px 4px,
    rgba(44, 187, 99, 0.15) 0 4px 8px, rgba(44, 187, 99, 0.15) 0 8px 16px,
    rgba(44, 187, 99, 0.15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: Geneva, Verdana, sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.resetButton:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgb(142, 227, 142) 0 -3px 0 inset;
  transform: translateY(-2px);
}

.resetButton:active {
  transform: translateY(2px);
}

.buttonSection {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  width: 100%;
}

.increaseBalanceButton {
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, 0.2) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.15) 0 1px 2px, rgba(44, 187, 99, 0.15) 0 2px 4px,
    rgba(44, 187, 99, 0.15) 0 4px 8px, rgba(44, 187, 99, 0.15) 0 8px 16px,
    rgba(44, 187, 99, 0.15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: Geneva, Verdana, sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.increaseBalanceButton:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgb(142, 227, 142) 0 -3px 0 inset;
  transform: translateY(-2px);
}

.increaseBalanceButton:active {
  transform: translateY(2px);
}

.userCurrency {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-bottom: 20px;
  font-size: 30px;
  font-family: Geneva, Verdana, sans-serif;
  padding-bottom: 50px;
}

.balance {
  font-size: 40px;
  font-family: Geneva, Verdana, sans-serif;
  width: 100%;
  padding-bottom: 10px;
}

.coinImg {
  height: 30px;
}
